{% extends '@EasyAdmin/page/content.html.twig' %}
{% block content %}
	<div class="jumbotron">
		<h1 class="display-4">Bienvenue dans l'administration</h1>
		<p class="lead">Gérez vos catégories, produits et utilisateurs depuis ce
			tableau de bord.</p>
	</div>
{% endblock %}
